
/*   Tweaks  ***************************************************** */
@for $i from 0 through 5 {

	#{".p-"+ #{$i } } {
		padding: calc(#{$i}* var(--rel-p)  * var(--padding-scale));
	}

	#{".pt-"+ #{$i } } {
		padding-top: calc(#{$i}* var(--rel-p) * var(--padding-scale));
	}
	#{".pb-"+ #{$i } } {
		padding-bottom: calc(#{$i}* var(--rel-p)  * var(--padding-scale));
	}
	#{".pl-"+ #{$i } } {
		padding-left: calc(#{$i}* var(--rel-p)  * var(--padding-scale));
	}
	#{".pr-"+ #{$i } } {
		padding-right: calc(#{$i}* var(--rel-p)  * var(--padding-scale));
	}
	#{".pa-"+ #{$i } + "> a" } {
		padding: calc(#{$i}* var(--rel-p)  * var(--padding-scale));
	}
	#{".m-"+ #{$i } } {
		margin: calc(#{$i} * var(--rel-m));
	}
	#{".mt-"+ #{$i } } {
		margin-top: calc(#{$i} * var(--rel-m));
	}
	#{".mb-"+ #{$i } } {
		margin-bottom: calc(#{$i} * var(--rel-m));
	}
	#{".ml-"+ #{$i } } {
		margin-left: calc(#{$i} * var(--rel-m));
	}
	#{".mr-"+ #{$i } } {
		margin-right: calc(#{$i} * var(--rel-m));
	} 

	#{ "s-"+ #{$i}  } {
		font-size: #{$i*.5}rem;
	}

	#{".br-"+ #{$i } } {
		border-radius: calc(#{$i}rem );
	}
}
.m-auto{
}
.bold{
	font-weight: 800;
}
.border-bot{
	border-bottom:1px solid var(--color-default);
}
.border-top{
	border-top:1px solid var(--color-default);
}
.border-left{
	border-left:1px solid var(--color-default);
}
.border-right{
	border-right:1px solid var(--color-default);
}

/*   colors  ***************************************************** */
.c-none{
	color:rgba(0,0,0,0);
}
.c-default{
	color:var(--color-default);
}
.c-other{
	color:var(--color-other);
}
.c-black{
	color:var(--color-black);
}
.c-white{
	color:var(--color-white);
}
.c-red{
	color:var(--color-red);
}
.c-yellow{
	color:var(--color-yellow);
}
.c-green{
	color:var(--color-green);
}
.c-aqua{
	color:var(--color-aqua);
}
.c-blue{
	color:var(--color-blue);
}
.c-purple{
	color:var(--color-purple);
}

.bg-none,.bg-alpha{
	background:rgba(0, 0, 0,0);
}
.bg-default{
	background:var(--background-default);
}
.bg-other{
	background:var(--background-other);
}
.bg-black{
	background:var(--color-black);
}
.bg-white{
	background:var(--color-white);
}
.bg-red{
	background:var(--color-red);
}
.bg-yellow{
	background:var(--color-yellow);
}
.bg-green{
	background:var(--color-green);
}
.bg-aqua{
	background:var(--color-aqua);
}
.bg-blue{
	background:var(--color-blue);
}
.bg-purple{
	background:var(--color-purple);
}