@use "sass:string";

@function option($id) {
	$s : "";
	@each $i in $id{
		$s :$s+"."+$i + " , *["+ $i +"],";
	}
	$t: string.slice($s,-1);
	@return $s;
}
.row{
	display: flex;
	flex-wrap: wrap;
	flex-flow: row wrap;
	max-width: 100%;
	width: 100%;
}
.col{
	display: flex;
	flex-direction:column;
	box-sizing: border-box;
	margin-left: 1%;//;calc(var(--rel-margin)/2);
	margin-right: 1%;//;calc(var(--rel-margin)/2);
	max-width: 100%;
}

.one.col                    { flex-basis: 4.66666666667%; flex-grow:0;}
.two.col                    { flex-basis: 13.3333333333%; flex-grow:0;}
.three.col                  { flex-basis: 22%;            flex-grow:0;}
.four.col                   { flex-basis: 30.6666666667%; flex-grow:0;}
.five.col                   { flex-basis: 39.3333333333%; flex-grow:0;}
.six.col                    { flex-basis: 48%;            flex-grow:0;}
.seven.col                  { flex-basis: 56.6666666667%; flex-grow:0;}
.eight.col                  { flex-basis: 65.3333333333%; flex-grow:0;}
.nine.col                   { flex-basis: 74.0%;          flex-grow:0;}

.ten.col                    { flex-basis: 82.6666666667%; flex-grow:0;}
.eleven.col                 { flex-basis: 91.3333333333%; flex-grow:0;}
.twelve.col                 { flex-basis: 100%; flex-grow:0;}


@media only screen and (min-width: 768px ) {
	.cell,.col{
		flex-basis: 0;
		flex-grow: 1;
		max-width: 100%;
	}

}
.center{
	justify-content:center;
	text-align: center;
}
.middle{
	flex-direction: row;
	align-items:center;
}
.right{
}
@for $i from 0 through 5 {

	#{option( "m-"+ #{$i } )} {
		margin: #{$i}rem;
	}
	#{option( "p-"+ #{$i } )} {
		padding: calc(#{$i}rem * var(--padding-scale));
	}
	#{option( "s-"+ #{$i}  )} {
		font-size: #{$i}rem;
	}
}

img.rel {
	width:6rem;
	min-width:6rem;flex-grow: 0;
}


/*colors ***********************/
.c-none{
	color:rgba(0,0,0,0);
}
.c-default{
	color:var(--color-default);
}
.c-other{
	color:var(--color-other);
}
.c-black{
	color:var(--color-black);
}
.c-white{
	color:var(--color-white);
}
.c-red{
	color:var(--color-red);
}
.c-yellow{
	color:var(--color-yellow);
}
.c-green{
	color:var(--color-green);
}
.c-aqua{
	color:var(--color-aqua);
}
.c-blue{
	color:var(--color-blue);
}
.c-purple{
	color:var(--color-purple);
}

.bg-none,.bg-alpha{
	background:rgba(0, 0, 0,0);
}
.bg-default{
	background:var(--background-default);
}
.bg-other{
	background:var(--background-other);
}
.bg-black{
	background:var(--color-black);
}
.bg-white{
	background:var(--color-white);
}
.bg-red{
	background:var(--color-red);
}
.bg-yellow{
	background:var(--color-yellow);
}
.bg-green{
	background:var(--color-green);
}
.bg-aqua{
	background:var(--color-aqua);
}
.bg-blue{
	background:var(--color-blue);
}
.bg-purple{
	background:var(--color-purple);
}