@use "sass:string";

@function option($id) {
	$s : "";
	@each $i in $id{
		$s :$s+"."+$i + " , *["+ $i +"],";
	}
	$t: string.slice($s,-1);
  @return $s;
}
.row{
	display: flex;
	flex-wrap: wrap;
	max-width: 100%;
}
.col{
	display: flex;
	flex-direction: column;
	width: 100%;
}
.cell{
	display: flex;
    box-sizing: border-box;
	padding: var(--rel-padding);
	max-width: 100%;
	width:100%;
}
@media only screen and (min-width: 768px ) {
	.cell,.col{
		flex-basis: 0;
		flex-grow: 1;
		max-width: 100%;
	}

}

img.resp {
	width:1rem;
}

.right{
	justify-content:right;
}
@for $i from 0 through 5 {

	#{option( "m-"+ #{$i } )} {
		margin: #{$i}rem;
	}
	#{option( "p-"+ #{$i } )} {
		padding: #{$i}rem;
	}
	#{option( "s-"+ #{$i}  )} {
		font-size: #{$i}rem;
	}
}