
// CORE
*{
  padding: 0px;
  margin: 0px;
  max-width: 100%;
}
html{
  width: auto ;
  max-width: 100vw;
  font-family:  var(--font);
  // font-size: var(--txt-size);
  color: var(--color-default);
  background:  var(--background-default);
}
body{
  display: flex;
  flex-direction: column;
}

/*html Core****************************************************************/
figure , caption, figcaption{
  padding: var(--rel-p);
}
hr{
  width:100%;
  margin-top: var(--rel-m);
  margin-bottom: var(--rel-m);
  border:none;
  border-bottom:1px solid var(--color-default);
}

/*Layout**************************************************************/

.row, header, footer, main {
  display: flex;
  flex-flow: row wrap;
  max-width: 100%;
}
.col, section, aside, article{
  display: flex;
  flex-direction:column;
  box-sizing: border-box;
  max-width: 100%;
}

.grow-all > *{
  flex-grow:1;
}
.grow{
  flex-grow:1;
}


// .center > .col{
//   flex-grow:0;
//   max-width: 100%; 
// }
/*horizontal centering : center */

//MAKE A LIST OF ALL COLUMNS AND ROWS TO ANTYNOM THE CENTER
//ADD CLARIFY IF PARENT IS ROW OR COLLUMN
.row.center, .center:not(.col, section, aside, article, h1, button) {
  align-self: center;
}
.col, section, aside, article, h1, button {
  &.center{
    align-items: center;
  }
}
// .col.center, section.center, aside.center, article.center, h1.center{
//   align-items: center;
// }

.row.center-all > *, .center-all:not(.col, section, aside, article) > * {
  align-items: center;
}
.col.center-all > * ,
 section.center-all > * ,
  aside.center-all > * ,
   article.center-all > * {
    align-self: center;
    flex-grow:1;
}

/*vertical centering : middle */
.row.middle, .middle:not(.col, section, aside, article) {
    align-self: center;
}
.col.middle, section.middle, aside.middle, article.middle{
  justify-content:center;
}
.middle-all:not(.col, section, aside, article) > *  {
  align-self: center;
}
.col.middle-all > * , section.middle-all > * , aside.middle-all > * , article.middle-all > * {
  justify-self: center;
}


/*positioning */
.col > .right {
  display:flex;
    justify-content: flex-end;
}
.row > .right {
  margin-left:auto;
}
.bottom > *{
  display:flex;
    align-items: flex-end;
}

/*   OFFGRID  ***************************************************** */
.popup,.popup-full,.popup-corner{
  display:none;
  z-index: 2;
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
}
.popup{
  background:var(--popup-blur-color);
  backdrop-filter: blur(calc(var(--popup-blur)));
}
.popup-full{
  background: var(--background-default);
}

.popup-corner:target{
  display:flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.popup-full:target{
  display:block;
}

.popup:target{
  display:flex;
  flex-flow:column wrap;
  justify-content:center;
  align-items:center;
}
