
.bg-sky{
	background:linear-gradient(322deg, #4b86fe, rgba(186, 74, 255, 0) 90%), linear-gradient(178deg, #008aff, rgba(0, 138, 255, 0) 70%), linear-gradient(24deg, #1b96fe, rgba(0, 255, 198, 0) 65%);
}
.bg-blur{
    backdrop-filter: blur(calc(var(--rel-padding)));
}
ul.bg-glass > li,dl.bg-glass > dl,dl.bg-glass > dd,ol.bg-glass > li,button.bg-glass, a.bg-glass {
    backdrop-filter: blur(9px);
    background:rgba(255,255,255,.1);
    box-shadow:inset 0px 0px 15px rgba(235,235,255,.1), 0px 1px 6px rgba(0,0,0,.1);
    border:1px solid var(--color-default);
    border-radius:.8rem;
    color: var(--color-default);
	font-size: 2rem;
	font-weight: 100;
	text-decoration: none;

}
button.bg-glass{
    padding: calc(var(--rel-padding)*3);
}
  $black: "--color-black";
  $white: "--color-white";
  $red:   "--color-red";
  $yellow:"--color-yellow";
  $green: "--color-green";
  $aqua:  "--color-aqua";
  $blue:  "--color-blue";
  $purple:  "--color-purple";

  $hue : ($red $yellow $green $aqua $blue $purple);
@for $i from 1 through 6 {
	.bg-hue > *:nth-child(6n-#{$i}){
		background: var(#{nth($hue,$i)});
	}

}
.bg-hue > * > a:hover{
	text-shadow: 0px 0px 4px var(--color-white), 0px 0px 4px var(--color-white), 0px 0px 8px var(--color-white), 0px 0px 8px var(--color-white);
}
