
/************************************************************************/
html,body,div,nav,img,section,ul, dl, ol{
  display: block;
  padding: 0px;
}
main,header, footer{
  display:flex;
}
/************************************************************************/
figure , caption, figcaption{

  padding: var(--rel-padding);
}
hr{
  margin-top: var(--rel-margin)
}
span, var, sub, sup, meter{
  padding: 0px;
}
pre {
  overflow-x: scroll;
}
progress{
  padding: var(--rel-padding);
  margin: var(--rel-padding);
}
meter{
  vertical-align: -0.45rem;
  height: 1.5rem;
  line-height: 0rem;
}
/************************************************************************/
section{
  display: flex;
  flex-direction: column;
  padding:0px;
}

@media only screen and (min-width: 1400px ) {
  body > section{
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 2200px ) {
  body > section{
    max-width: 40%;
    margin-left: auto;
    margin-right: auto;
  }
}

/************************************************************************/
table{
  padding: var(--rel-padding);
}
td{
  max-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

}
/************************************************************************/
nav,nav.cell{
  padding:0px;
  display: flex;
  flex-direction: column;
  flex-basis: 0;
  background: var(--background-nav);    


  min-width: fit-content;
  box-sizing: border-box;
  max-width: 100%;
}
nav ul, nav ol, nav dl {
  flex-grow: 1  ;
  display:flex;
  flex-direction: column;
  text-overflow: ellipsis;
  flex-wrap: nowrap;
  line-height:5rem;
}
nav li{
  width: auto;
  min-width: fit-content;
  display: block;
  padding:0;
}
nav > a:first-child {
  flex-grow: 0  ;
  display: flex;
  justify-content:center;
  align-items:center;
  text-decoration: none;
  padding: calc(var(--rel-padding) * 3);
}
nav a {
  display: flex;
  justify-content:center;
  align-items:center;
  text-decoration: none;
  padding: calc(var(--rel-padding));
  color:var(--color-nav);
}
nav > a:last-child {
  flex-grow: 0  ;
  display: flex;
  justify-content:center;
  align-items:center;
  text-decoration: none;
  padding: calc(var(--rel-padding));
}
nav > ul{
  min-width: fit-content;
}
@media only screen and (min-width: 768px ) {

  nav{
    flex-flow: row ;
  }
  nav ul, nav ol, nav dl {
    flex-direction: row;
  } 

}

/************************************************************************/
ol *,ul > *,dl *{ 
  padding-top: calc(var(--rel-padding) / 2);
  padding-bottom: calc(var(--rel-padding) / 2);
  padding-left: calc(var(--rel-padding) * 3);
  padding-right: 0;
}
dd{

  padding-left: calc(var(--rel-padding) *6 );
}
dt,th{
  font-weight: bold;
}
li{
  display:flex;
  list-style: none;
}
/************************************************************************/
input,button, textarea,option,select{
  border-radius: 0.3rem;
  border: none;
  color: var(--background-default);
  background-color: var(--background-input);
}
input:not([type="submit"]){
  padding-top: calc(var(--rel-padding) / 2);
  padding-bottom: calc(var(--rel-padding) / 2);
  padding-right: var(--rel-padding);
  padding-left: var(--rel-padding);

  margin-top: calc(var(--rel-padding) / 2);
  margin-bottom: calc(var(--rel-padding) / 2);
  margin-right: 0;
  margin-left: 0;
}
input[type="submit"],button{
  margin-top: calc(var(--rel-padding) / 2);
  margin-bottom: calc(var(--rel-padding) / 2);
  width: fit-content;
  margin-left:  auto;
  margin-right:  auto;
  font-size: 1.5rem;
  padding: calc(var(--rel-padding) * 2);

}
select{
  font-size: 1.5rem;
}

form{
  fieldset > div{
    width: 100%;
    display: flex;
  }
  fieldset div{
     label{
      flex: 1;
    }
    p{
      position: absolute;
      display: none;
    }
    input, textarea{
      flex: 1;
      max-width: 100%;
      resize:vertical;
    }
  }
}
/************************************************************************/
a[href]:hover, button:hover, input[type="submit"]:hover{
	cursor: pointer;
}

input[type="submit"]:hover {
  background-color: rgb(210, 210, 210);
}
a[href]:hover{
  background-color: rgba(255, 255, 255, 0.04);
}
/************************************************************************/

small{
  font-size: .75rem;
}
s{
  color: var(--color-disabled);
}
a{
  color: var(--color-link);
  vertical-align: middle;
}
blockquote a:last-child{
  display:block;
}
h1,h2,h3,h4,h5,h6,p,address, time{

  padding-left: var(--rel-padding);
}
h1 {
  font-size: 4rem;
  line-height: 4rem;
}
h2 {
  font-size: 3.6rem;
}
h3 {
  font-size: 3.0rem;
}
h4 {
  font-size: 2.4rem;
}
h5 {
  font-size: 1.8rem;
}
h6 {
  font-size: 1.5rem;
}
h1 > a{
  display:block;
}
