/*Forms******************************************************************/
input,button, textarea,option,select{
  border-radius: 0.3rem;
  border: solid 1px var(--color-default);
  color: var(--background-default);
  background-color: var(--background-input);
  font-family:  var(--font);
  box-sizing: border-box;
  margin-right: var(--rel-m);
  margin-left: var(--rel-m);
  margin-top: calc(var(--rel-m) / 2);
  margin-bottom: calc(var(--rel-m) / 2);
}
input:not([type="submit"]),textarea{
  padding: calc(var(--rel-p) / 2);

}
input[type="submit"], button{
  margin-right: var(--rel-m);
  margin-left: var(--rel-m);
  margin-top: calc(var(--rel-m) );
  margin-bottom: calc(var(--rel-m) );
  width: fit-content;
  font-size: 1.5rem;
  padding: calc(var(--rel-p) * 2);
} 
button.bg-none{
  color: var(--color-default);
}
select{
  font-size: 1.5rem;
}

form{
  fieldset > div{
    width: 100%;
    display: flex;
  }
  fieldset div{
     label{
      flex: 1;
      display:flex;
      align-items: center;
      margin-right: var(--rel-m);
      margin-left: var(--rel-m);
    }
    p{
      position: absolute;
      display: none;
    }
    input:not([type="checkbox"]), textarea{
      flex: 1;
      max-width: 100%;
      resize:vertical;
    }
  }
}

/*Hover*****************************************************************/

button:hover{
  border-color: var(--color-active);
  background: var(--color-active);
  cursor: pointer;

}
button.bg-none:hover{ 
  color: var(--color-active);
  border-color: var(--color-active);
  background: rgba(0,0,0,0);
}

input[type="submit"]:hover {
  background-color: rgb(210, 210, 210);
}

