
/*Block Text**************************************************************/

h1,h2,h3,h4,h5,h6,p,address, time{
  font-weight: 100;
  margin-left: var(--rel-m);
}
li > h1,li > h2,li > h3,li > h4,li > h5,
li > h6 { 
  margin: 0;
 }

//mostly title headers
h1 {
/*  font-size: 4.1rem;*/
font-size:calc( 3 * var(--txt-base) * var(--txt-size));
}
h2 {
/*  font-size: 3.7rem;*/
font-size:calc( 2.8 * var(--txt-base) * var(--txt-size));
}
h3 {
/*  font-size: 3.3rem;*/
font-size:calc( 2.5 * var(--txt-base) * var(--txt-size));
}
//mostly paragraphs
h4 {
font-size:calc( 2.0 * var(--txt-base) * var(--txt-size));
}
h5 {
font-size:calc( 1.75 * var(--txt-base) * var(--txt-size));
}
h6 {
font-size:calc( 1.5 * var(--txt-base) * var(--txt-size));
}
//h1 > a{display:block;}

ul,ol{
  padding-left:1.5rem;
}
