/*inline******************************************************************/

a{
  color: var(--color-link);
  vertical-align: middle;
}
pre {
  overflow-x: scroll;
}
progress{
  padding: var(--rel-p);
  margin: var(--rel-p);
}
meter{
  vertical-align: -0.45rem;
  height: 1.5rem;
  line-height: 0rem;
}

u{
  border-bottom:1px solid var(--color-default);
  text-decoration: none;
}

s{
  color: var(--color-disabled);
}
small{
  font-size: .75rem;
}


/*Hover*****************************************************************/
a[href]:hover, input[type="submit"]:hover{
	cursor: pointer;
}
a[href]:hover{
  background-color: rgba(255, 255, 255, 0.04);
}
