/************************************************************************/
nav,nav.cell{
  padding:0px;
  display: flex;
  flex-direction: column;
  flex-basis: 0;
  background: var(--background-nav);    

  min-width: 0;
  max-width: 100vw;

  box-sizing: border-box;
}
nav ul, nav ol, nav dl {
  flex-grow: 1  ;
  display:flex;
  flex-direction: column;
  text-overflow: ellipsis;
  flex-wrap: nowrap;
  line-height:5rem;
}
nav dl, nav li,nav dt{
  width: auto;
  display: block;
  padding:0;  
  line-height: normal;
}
nav a {
  display: flex;
  justify-content:center;
  align-items:center;
  text-decoration: none;
  padding: calc(var(--rel-p) * 2);
  color:var(--color-nav);
}
@media only screen and (min-width: 0576px ) {
  nav{
    flex-flow: row wrap;
  }
  nav ul, nav ol, nav dl {
    flex-flow: row wrap;
    overflow: hidden;
  } 
}