

@use '../globals' as *;

/************************************************************************/
table{
  border-collapse: collapse;
  
  th,td {
    text-align: center
  }
  caption {
    font-size: 1.3em;
  }

}
li > h1,li > h2,li > h3,li > h4,li > h5,
li > h6 { 
  margin: 0;
 }

 ul,ol{
  padding-left:1.5rem;
 }
 ul,ol{
  display:flex;
  flex-direction: column;
  flex-grow: 1;
}
ul.row > li {
  flex-direction:column;
}
li{
  display: flex;
  flex-direction: row;
  // flex-grow: 1;
}

ul > li::before {
  content: '\25CF'; // small dot \2022
   padding-right: 0.8em;
}
ol > li::before {
  counter-increment: numbers;
  content: "" counter(numbers) ".";
  // color: inherit;
  // font-weight: inherit;
  padding-right: 0.8em;
}
li > a{
  display:flex;
  flex-direction: column;
  flex-grow: 1;
}


@media screen and (max-width:  #{nth(map-get($breakpoints,'md'),1)} ) {
    table {
            
        td, tr {
          display: block;
          text-align: right;
        }

        thead {
          border: none;
          clip: rect(0 0 0 0);
          height: 1px;
          margin: -1px;
          overflow: hidden;
          padding: 0;
          position: absolute;
          width: 1px;
        }
        td::before {
          content: attr(data-label);
          float: left;
          font-weight: bold;
        }
        
        td:last-child {
          border-bottom: 0;
        }
    }

}
