/************************************************************************/
/**| Shoe Leather - main.css                                           **/
/**| by Snow + Emerson                                                 **/
/************************************************************************/

@use "sass:string";
@use 'parts/core';
@use 'parts/headertext';
@use 'parts/transform';
@use 'parts/img';

// @use 'parts/tables';
// @use 'parts/inline';
// @use 'parts/forms';
 @use 'parts/classes';


// dev help tools
*{
  // outline:1px dashed  white ;
}

//User Variables
:root{
  --font:              -apple-system,BlinkMacSystemFont,"Segoe UI Adjusted","Segoe UI","Liberation Sans",sans-serif;

  --txt-base:           16px;
  --padding:            2vw;
  --margin:             2vw;

  --padding-scale:      1;

  --background-default: #151515;
  --background-other:   #222;
  --background-input:   rgb(239, 239, 239);

  --color-default:      #ddd;
  --color-other:        #834d49;
  --color-link:         #a4ade9;
  --color-disabled:     #363636;
  --color-active:       #fff;

  --color-black:        #000000;
  --color-white:        #FFFFFF;
  --color-blue:         #5967E8;
  --color-green:        #81E45E;
  --color-red:          #E84A4A;
  --color-yellow:       #e1da66;
  --color-aqua:         #9DFBFB;
  --color-purple:       #BF60FB;
  
  --popup-blur-color:   #03050e70;
  --popup-blur:         9px;

}
@media (prefers-color-scheme: light) {
  :root{
      
  --background-default: #fff;
  --background-other:   #222;
  --background-input:   rgb(239, 239, 239);

  --color-default:      #ddd;
  --color-other:        #834d49;
  --color-link:         #a4ade9;
  --color-disabled:     #363636;
  --color-active:       #fff;

  --color-black:        #000000;
  --color-white:        #FFFFFF;
  --color-blue:         #5967E8;
  --color-green:        #81E45E;
  --color-red:          #E84A4A;
  --color-yellow:       #e1da66;
  --color-aqua:         #9DFBFB;
  --color-purple:       #BF60FB;
  
  --popup-blur-color:   #03050e70;
  --popup-blur:         9px;
  }
}
$breakpoints: (
  xs:   (0000px 1.0),
  sm:   (0576px 1.0),
  md:   (0768px 1.1),
  lg:   (0992px 1.15),
  xl:   (1200px 1.2),
  xxl:  (1400px 1.3),
 xxxl: (2200px 1.4)
) !default;

@each $bp in map-keys($breakpoints) {
  @media screen and (min-width: #{nth(map-get($breakpoints,$bp),1)} ){
    :root{
      //--rel-scale:       calc(var(--txt-size) / #{nth(map-get($breakpoints,$bp),2)});
      --rel-p:     calc(var(--padding) / #{nth(map-get($breakpoints,$bp),2)});
      --rel-m:      calc(var(--margin) / #{nth(map-get($breakpoints,$bp),2)});
      --txt-size:    #{ nth(map-get($breakpoints,$bp),2)} ;
      //font-size: calc( var(--txt-size)*var(--txt-base) );
    }
    html{
      
    }
  }
} 